# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet packages
packages/
*.nupkg
*.snupkg
*.cache
*.lock.json
project.assets.json

# Rider files
.idea/
*.iml

# Visual Studio Code files
.vscode/

# Other common files
*.log
*.bak
*.tmp
*.pdb
*.pid
*.vsdps
*.vsp
*.trx
*.testsettings
*.vsmdi
*.local
*.resharper
*.dotSettings
*.dbmdl
*.psmdl
*.sqlproj.user
*.sqlproj.dbmdl
*.sqlproj.layout
*.sqlproj.log
*.sqllite
*.mdf
*.ldf
*.sdf

# User-specific files
*.user
*.userosscache

# Mac OS files
.DS_Store

# Git specific files
.git/
.gitattributes
.gitignore
